<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-md-4">
            <form [formGroup]="loginForm">
                <!-- Email -->
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" email formControlName="email" matInput placeholder="Enter Your Email">
                </mat-form-field>


                <!-- Password -->
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="Enter Password">
                    <mat-hint>Eg @#!%787@</mat-hint>
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary">Login</button>
                </div>
                <p><small>Don't have an account ? <a routerLink="/signup">Signup</a></small></p>
            </form>
        </div>
    </div>
</div>