<div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'margin-top': '5%'}">
  <section fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
    <h3 [ngStyle.lt-sm]="{'paddingLeft': '10px'}">User profile</h3>
    <form name="UserForm" #userForm="ngForm" fxLayout="column" fxFlex="100%" [ngStyle.xs]="{'margin': '3%'}"
      (ngSubmit)="handleSubmit(userForm)">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" name="name" ngModel required>
        <mat-error>
          Please enter a valid name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput email placeholder="Email" type="email" name="email" ngModel required>
        <mat-error>
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" name="password" ngModel required minlength="6">
        <mat-error>
          Minimum password length should be 6
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select ngModel name="role" placeholder="select Role" required>
          <mat-option value="super_Admin">Super_Admin</mat-option>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="user">User</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" [disabled]="userForm.pristine || userForm.invalid">Create</button>
      </div>
    </form>
  </section>
</div>