<div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'margin-top': '10%'}">
  <form name="LoginForm" fxLayout="column" fxFlex="100%" [ngStyle.xs]="{'margin': '3%'}" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
    <mat-form-field>
      <input matInput email placeholder="Email" type="email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" required>
    </mat-form-field>
    <div>
    <button mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
