<div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'margin-top': '10%'}">
  <section fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
    <h3 [ngStyle.lt-sm]="{'paddingLeft': '10px'}">Signup</h3>
    <form name="LoginForm" #signupForm="ngForm" fxLayout="column" fxFlex="100%" [ngStyle.xs]="{'margin': '3%'}"
      (ngSubmit)="handleSubmit(signupForm)">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" name="name" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <input matInput email placeholder="Email" type="email" name="email" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" name="password" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" type="password" name="cPassword" ngModel required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" [disabled]="signupForm.pristine || signupForm.invalid">Login</button>
      </div>
    </form>
  </section>
</div>