.uv-sidenav-container {
    position: relative;
    top: 56px;
    min-height: 100vh;
    height: 100%
}

#side-nav {
    width: 200px;
    height: 100%;
    background: var(--vert-gradient-primary-fallback);
    background: var(--vert-gradient-primary-reverse) !important;
}

.user-avatar {
    max-width: 120px;
    margin: 1em auto;
    display: block;
}

.sidenav-active-nav-list-item {
    background: rgba(0, 0, 0, .05);
    color: white;
}

.sub-menu-item {
    display: none;
}

.side-nav-list-item {
    color: white;
}

.sub-menu-item.sub-menu-expanded {
    display: block;
    background-color: rgba(0, 0, 0, .05);
    color: white;
}

.sub-menu-item.sub-menu-expanded:hover {
    background-color: transparent;
}