<app-navbar-top [snav]="snav"></app-navbar-top>
<mat-sidenav-container class="example-sidenav-container" fxLayout="column">
  <mat-sidenav #snav id="side-nav">
    <img class="user-avatar" src="/assets/user-avatar.svg">
    <mat-nav-list (click)="closeSideNav(snav)">
      <a mat-list-item [routerLink]="[navItem.path]" routerLinkActive="sidenav-active-nav-list-item" *ngFor="let navItem of sideNavMenuItems">{{navItem.text}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
