<div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'margin-top':'10%'}">
  <section class="my-10" fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="25%">
    <h3 [ngStyle.lt-sm]="{'paddingLeft': '10px'}">Reset Password</h3>
    <form name="ChangePassword" #changePasswordForm="ngForm" fxLayout="column" fxFlex="100%" [ngStyle.xs]="{'margin': '3%'}"
      (ngSubmit)="handlechangePasswordForm(changePasswordForm)">

      <mat-form-field>
        <input matInput placeholder="Password" #passwordInput="ngModel" type="password" minlength="6" name="password" ngModel required>
        <mat-error *ngIf="passwordInput.dirty && (!passwordInput.value || passwordInput.value.length < 6)">Password Length Should Be Minimum Of 6</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" #cPasswordInput="ngModel" type="password" minlength="6" name="confirmPassword" (ngModelChange)="checkPasswords(cPasswordInput, passwordInput)" ngModel required>
        <mat-error *ngIf="cPasswordInput.errors && !isPasswordMatched">Password Not Matching.. </mat-error>       
      </mat-form-field>
      <div fxLayout="row" class="mt-5">
        <button type="submit" fxLayout="column" mat-raised-button appBgColor="rgb(108, 187, 35)" textColor="white" [disabled]="changePasswordForm.pristine || changePasswordForm.invalid">Submit</button>
      </div>
    </form>
  </section>
</div>
<div class="mb-10"></div>